<h1>Here we have some information about {{student.name}}</h1>

<h2>his/her e-mail is : {{student.email}}</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur deserunt
  quasi qui error, porro necessitatibus inventore, ratione doloribus fuga hic
  exercitationem iusto sit quos debitis? Consequatur iste dolore quisquam
  quaerat.</p>